html, body {
  height: 100%;
  margin: 0;
}

body {
  margin-top: 5%;
  background-color: #f4ddb5;
  background-image: url('../assets/raster/liftoff@3x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.content-box {
  margin: 20px;
  margin-left: 30%;
  margin-right: 10%;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo {
  max-width: 150px;
  height: auto;
  flex-shrink: 0;
}

.search-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 20px;
}

.search-input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 16px;
  flex-grow: 1;
  background-color: #193247;
  color: white;
}

.search-input::placeholder {
  color: white;
  opacity: 1;
}

.search-button {
  padding: 8px 15px;
  cursor: pointer;
  background-color: #d14b39;
  border: none;
  color: white;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  transition: background-color 0.2s;
  flex-shrink: 0;
}

.launches-table {
  width: 100%;
  border-collapse: collapse;
}

.launches-table th,
.launches-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.launches-table {
  background-color: #fdf2dd;
}

.launches-table tbody tr:hover {
  background-color: #d14b39;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination span {
  margin-right: 10px;
  margin: 3% 1%;
}

.pagination button {
  padding: 8px 15px;
  cursor: pointer;
  background-color: #d14b39;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: background-color 0.2s;
  margin: 3% 1%;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:not(:disabled):hover {
  background-color: #0056b3;
}