body::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #f4ddb5;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Roboto', sans-serif;
  background-image: url('../assets/raster/liftoff@3x.png');
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 1em;
}

.ruler-row {
  width: 100%;
}

.line {
  width: 100%;
  display: grid;
  grid-template-columns: 3.2fr 7fr;
  background-color: #193247;
  height: 0.05em;
  align-content: center;
}

.fat-line {
  height: 0.4em;
  background-color: #193247;
  border-radius: 1em;
}

.content-box {
  margin-top: -3%;
  margin-left: 24%;
  margin-right: 4%;
}

.table-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 10%;
}

.logo {
  width: 45%;
  flex-shrink: 1;
}

.search-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 20px;
}

.search-input {
  background-image: url(../assets/vector/rocket.svg);
  background-position-x: 0.5em;
  background-position-y: center;
  background-repeat: no-repeat;
  padding: 8px;
  padding-left: 2.5em;
  margin-right: 10px;
  border-radius: 20px;
  font-size: 16px;
  flex-grow: 1;
  background-color: #193247;
  color: #f4ddb5;
}

input[type="text"]::placeholder {
  color: #f4ddb5;
  opacity: 1;
}

.search-input::placeholder {
  color: white;
  opacity: 1;
}

.search-input {
  background-image: url(../assets/vector/rocket.svg);
  background-position-x: 0.5em;
  background-position-y: center;
  background-repeat: no-repeat;
  padding: 8px;
  padding-left: 2.5em;
  margin-right: 10px;
  border-radius: 20px;
  font-size: 1em;
  flex-grow: 1;
  background-color: #193247;
  color: #f4ddb5;
}

.search-button {
  min-height: 2.5em;
  padding: 8px 15px;
  cursor: pointer;
  background-color: #d14b39;
  border: none;
  color: white;
  border-radius: 20px;
  font-size: 1em;
  outline: none;
  transition: background-color 0.2s;
  flex-grow: 0.2;
}

.launches-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
  background-color: transparent;
}

.center-text {
margin-left:-1em;
display: flex;
justify-content: center;
}

.launches-table th {
  text-align: left;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  font-size: large;
  margin: 0;
  padding-left: 1em;
  font-weight: normal;
  text-align: left;
  cursor: pointer;
}

.launches-table td {
  padding: 15px;
  text-align: left;
  background-color: #fdf2dd;
  border-radius: 10px;
  height: 3em;
  font-size: 18px;
}

.launches-table tbody tr:hover td {
  transition: 250ms;
  color: #fdf2dd;
  background-color: #d14b39;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.pagination span {
  margin-right: 10px;
  margin: 1% 1%;
}

.pagination button {
  padding: 8px 15px;
  cursor: pointer;
  background-color: #d14b39;
  border: none;
  color: white;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  transition: background-color 0.2s;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}