.launch-ticket-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../assets/raster/ticketPageBackground@3x.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 300;
}

.ticket-header {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.go-back {
    cursor: pointer;
    font-size: 1.2em;
    background-color: transparent;
    border: none;
    padding: 0;
    display: inline-flex;
    align-items: center;
}

.go-back img {
    display: block;
    width: 40px;
    height: auto;
    background-color: transparent;
}

.ticket-content {
    width: 60em;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.launch-ticket {
    width: 60em;
    height: 25em;
    background-image: url('../assets/raster/ticketBackground@2x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.launch-info, .rocket-info, .date-section {
    display: flex;
    justify-content: space-between;
}

.launch-year, .mission-section, .rocket-name, .rocket-type {
    margin: 0.5em;
}

.date-section {
    display: flex;
    flex-direction: column;
    align-items:start;
    margin: 0.5em;
}

.ticket-action {
    display: flex;
    justify-content: flex-end;
    width: 60em;
}

.print-button {
    padding: 10px 30px;
    background-color: #d14b39;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.2s;
}

@media (max-width: 770px) {
    .launch-ticket, .ticket-action {
        width: 90%;
        height: auto;
    }
    .go-back img {
        width: 20px;
    }
    .ticket-action {
        justify-content: center;
    }
}
