.launch-ticket-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../assets/raster/ticketPageBackground@3x.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 300;
}

.go-back {
    cursor: pointer;
    font-size: 1.2em;
    background-color: transparent;
    border: none;
    padding: 0;
    position: relative;
    right: -10px;

}

.go-back img {
    position: relative;
    top: 100px;
    right: 40px;
    display: block;
    width: 50px;
    height: auto;
    background-color: transparent;
}

.ticket-content {
    width: 60em;
    margin: auto;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
}

.launch-ticket {
    width: 60em;
    height: 25em;
    background-image: url('../assets/raster/ticketBackground@2x.png');
    background-size: 100%;
    color: #f4ddb5
}

.launch-date,
.mission-section  {
    margin: 0.5em;
}
.rocket-type{

}

.launch-date{
    color: #193247;
}


.ticket-action {
    display: flex;
    justify-content: flex-end;
    width: 55em;
}

.print-button {
    padding: 10px 30px;
    background-color: #d14b39;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.2s;
}

.date-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: flex-start;
    line-height: 0.1em;
    padding-top: 4em;
    padding-right: 8.2em;
}

.mission-section{
    margin-top: -2em;
    padding-left: 8.5em;
    line-height: 0.5em;
}

.rocket-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 8.5em;
    gap: 3em;
    line-height: 0.3em;
}

@media (max-width: 770px) {
    .launch-ticket,
    .ticket-action {
        width: 90%;
        height: auto;
        transform: scale(0.8);
    }
    .go-back img {
        width: 20px;
    }
    .ticket-action {
        justify-content: center;
    }
}